@import "@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/gillsansnova_book.ttf");
}

@font-face {
  font-family: "Bradley Hand";
  src: url("/fonts/bradleyhanditctt.ttf");
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Gill Sans";
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}
